cmake-build*
*.project
*.workspace
.cproject
.project
.settings
.codelit*/*
*~
*/*~
*/*/*~
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
.vscod*/*
build_win/*
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.o
*.ipch
*.log
main

.vs/libplctag/v15/Browse.VC.db
.vs/libplctag/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
src/lib/version.h
temp.c
/.vs/libplctag/v16/Browse.VC.db
/.vs/libplctag/v16/Browse.VC.opendb
/out/build/x64-Debug
/out/build/ARM64
/CMakeSettings.json
build/*
