.cproject
.project
.settings
.codelit*/*
*~
*/*~
*/*/*~
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
.vscod*/*
build_win/*
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

