name: libplctag CI

on:
  push:
    branches: [ github-actions ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu_x64:

    runs-on: ubuntu-latest

    env:
      VERSION: "2.1.4"
      ARTIFACT: "libplctag_2.1.4_ubuntu_x64.zip"
      BUILD: "${{ github.workspace }}/build"
      DIST: "${{ github.workspace }}/build/bin_dist"

    steps:
    - uses: actions/checkout@v2

    - name: Set up build environment
      run: sudo apt install build-essential cmake

    - name: Create build directory
      run: rm -rf ${{ env.BUILD }}; mkdir -p ${{ env.BUILD }}

    - name: Configure CMake
      run: cd ${{ env.BUILD }}; cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_32_BIT=0 ..

    - name: Build
      run: cd ${{ env.BUILD }}; cmake --build .

    - name: Test
      run: echo "no-op for now"

    - name: Upload ZIP artifact
      uses: actions/upload-artifact@v1
      with:
        name: ${{ env.ARTIFACT }}
        path: ${{ env.DIST }}

  ubuntu_x86:

    runs-on: ubuntu-latest

    env:
      VERSION: "2.1.4"
      ARTIFACT: "libplctag_2.1.4_ubuntu_x86.zip"
      BUILD: "${{ github.workspace }}/build"
      DIST: "${{ github.workspace }}/build/bin_dist"

    steps:
    - uses: actions/checkout@v2

    - name: Set up build environment
      run: sudo apt update; sudo apt-get -y --force-yes install gcc-multilib g++-multilib

    - name: Create build directory
      run: rm -rf ${{ env.BUILD }}; mkdir -p ${{ env.BUILD }}

    - name: Configure CMake
      run: cd ${{ env.BUILD }}; cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_32_BIT=1 ..

    - name: Build
      run: cd ${{ env.BUILD }}; cmake --build .

    - name: Test
      run: echo "no-op for now"

    - name: Upload ZIP artifact
      uses: actions/upload-artifact@v1
      with:
        name: ${{ env.ARTIFACT }}
        path: ${{ env.DIST }}

